# Android
build/
.gradle/
local.properties
.env
*.hprof
*.txt

# Kotlin Multiplatform
.kotlin/
composeApp/build/
shared/build/
webApp/build/
androidApp/build/

# IDE - IntelliJ / Android Studio
.idea/
*.iml
.DS_Store

# Node / JS
node_modules/
.npm/
package-lock.json

# Vercel
.vercel/
